@import '../../styles/color';

.closable-panel {
  overflow: hidden;
  border: 4px solid $primary-border;
  border-radius: 12px;
  position: fixed;
  box-shadow: 0 0 10px 2px $primaryBlur;
  z-index: 9999999999999999999;
  background: #ffffff;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  &.show {
    display: block;
  }
  &.hide {
    display: none;
  }
  .panel-title {
    background: $primary-bg;
    padding: 10px 15px;
    font-weight: 500;
    border-bottom: 1px solid $primary-border;
  }
  .panel-close {
    float: right;
    cursor: pointer;
  }
  .panel-content {
  }
}
