$primary-bg: #ececec;
$primary-border: #f5f5f5;
$primary-font-color: #222;
$primary-font-alpha-color: #fff;
$primary-selected: #222;
$primary-selected-color: #222;
$primary-light: #fff;
$primaryBlur: #999;
$primary: $primaryBlur;
$assist-color: #2196f3;
$assist-alpha: rgba(33, 150, 243, 0.3);
$highlight-aligned: $assist-alpha;
$highlight-enter: $assist-color;
$resize-line: $assist-color;
$snap-line: $assist-color;
$selection-border: $assist-color;
$selection-bg: $assist-alpha;

$dialog-bg: linear-gradient(to bottom, rgba(156, 39, 176, 0.3), rgba(244, 67, 54, 0.2));

$border: #d3d3d3;
$input-bg: #fff;
$primary-alpha: #fff;
$input-font-color: #222;
$input-radius: 0px;
$input-height: 28px;
$input-disabled: rgba(0, 0, 0, 0.1);
