@import "../styles/color";

.root-layout-editor {
  position: relative;
  overflow: hidden;
  border-top: 0;

}

// 设置工作区域内边框
.editor-view {
  left: 20px;
  top: 20px;
  right: 0;
  bottom: 0px;
  position: absolute;
  overflow: hidden;
  background: #d3d3d3;

}

.editor-control-panel {
  transform-origin: top left;
  position: relative;
}

// 标尺
.editor-ruler-h {
  position: absolute;
  top: 0;
  height: 20px;
  width: 100%;
  left: 20px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    height: 20px;
    width: 20px;
    top: 0;
    background: $primary-bg;
  }
}

.editor-ruler-v {
  position: absolute;
  left: 0;
  top: 20px;
  width: 20px;
  height: 100%;
  box-shadow: 2px 0 5px 1px rgba(0, 0, 0, 0.5);
}

.editor-ruler-v, .editor-ruler-h {
  background: $primary-alpha;
}

.base-components_action-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 290px;
  top: 80px;
  background: $primary-alpha;
  border: 1px solid $primary-border;
  padding: 10px 1px;
  color: #ffffff;
  justify-content: center;
  .base-component_action-item {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
    .icon-tupian-copy-copy {
      font-size: 20px;
      font-weight: 700;
    }
    .icon-anniu1 {
      font-size: 24px;
    }
    .icon-qipao {
      font-size: 15px;
    }
    .icon-xianduanceliang {
      font-size: 20px;
      font-weight: 700;
    }
    .icon-xianduan {
      font-size: 20px;
      font-weight: 700;
    }
    .icon-icon_yuanxing {
      font-size: 22px;
      font-weight: 600;
    }
    .icon-danhangshuru, .icon-fuhao-duohangshurukuang {
      font-size: 20px;
    }
    .icon-xialaxuanze {
      font-size: 19px;
      font-weight: 700;
    }
    .icon-Triangle {
      font-size: 18px;
    }
  }
}

.back-backspace {
  position: absolute;
  left: 100px;
  top: 31px;
  background: $primary-bg;
  color: #333333;
  padding: 8px 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding-left: 30px;
  &:hover {
    cursor: pointer;
    background: $primary-selected;
  }
  &:after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #989898;
    display: block;
    position: absolute;
    left: 10px;
    top: 14px;
  }
}